export(add_family_name_column)export(add_isolate_info)export(basemap_pacific_center)export(combine_ValueTable_LanguageTable)export(crop_missing_data)export(drop_duplicate_glottocode_tips)export(make_binary_ParameterTable)export(make_binary_ValueTable)export(make_theo_scores)export(match_to_rgb)export(reduce_ValueTable_to_unique_glottocodes)export(varcov.spatial.3D)